@import 'nib'

shade_opacity = 0.7
shadow_opacity = 0.5
text_opacity = 0.8
border_opacity = 0.2
image_greyscale = 0.8
image_blur = 3px

html, body
  height: 100%

h1, h2
  text-align: center
  margin: 0
  text-shadow: 0 1px 0 rgba(0, 0, 0, shadow_opacity)

h1
  font-weight: 900
  margin: 30px 0 0
  font-size: 120px

h2
  font-size: 50px

*
  box-sizing(border-box)

.clearfix:before, .clearfix:after
  content " "
  display table

.clearfix:after
  clear both

.clearfix
  *zoom 1

.left
  float left

.right
  float right

body
  font-family Helvetica, sans-serif
  margin 0

.wrapwrap
  position: fixed
  top: 0
  left: 0
  height: 100%
  width: 100%
  padding: -10px
  overflow: hidden

.wrapper
  background-color: black
  position: fixed
  top: -10px
  left: -10px
  height: -webkit-calc(100% + 20px)
  width: -webkit-calc(100% + 20px)
  // todo: too slow
  // -webkit-filter: grayscale(image_greyscale)
  // -webkit-filter: blur(image_blur)
  z-index: -10
  background-size: cover
  background-position: 0 center
  background-image: url('image/background.jpg')
  -webkit-transition: all 1s

.full-overlay
  height: 100%
  width: 100%
  z-index: 100
  background-color: black
  position: fixed
  top: 0
  left: 0

.overlay
  height: 100%
  width: 100%
  background-color: rgba(0, 0, 0, shade_opacity)

.container
  color: rgba(255, 255, 255, text_opacity)
  padding-top: 60px

.btn
  font-size: 40px
  margin: 0 auto
  display: block
  padding: 15px 30px

.facts
  margin: 0 !important

  font-size: 20px

  div
    text-align: center
    // height: 200px
    padding: 20px

  // div:first-child
  //   border-right: 1px solid rgba(255, 255, 255, border_opacity)

.one
  // border-bottom: 1px solid rgba(255, 255, 255, border_opacity)

hr
  border-top: 1px solid rgba(255, 255, 255, border_opacity)

.row
  margin: 20px 0

footer
  text-align: center
  margin-bottom: 20px

#map
  height: 350px
  width: 450px
  margin: -50px 0 0 -50px

#mapwrap
  background: white
  height: 250px
  width: 350px
  top: 0
  left: 0
  position: fixed !important
  z-index: -5
  border: 5px solid white
  -webkit-transform: rotate(-15deg) !important
  pointer-events: none
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4)
  overflow: hidden

#logo
  height: 100px
  width: 100px
  position: absolute
  top: 20px
  left: 20px
